body {
    background-color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #7827e7;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 10px;
}

.header h2 {
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Times New Roman', Times, serif;
}

.popular-section {
    text-align: center;
    padding: 20px;
}

.popular-songs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.popular {
    width: 22%;
    padding: 10px;
}

.cover {
    width: 100%;
    border: 4px solid white;
    border-radius: 10%;
    transition: border-color 0.3s ease;
}

.cover:hover {
    border-color: #7827e7;
}

.popular-song-name, .popular-singer-name {
    margin: 0;
    color: white;
    word-wrap: normal;
}

.popular-song-name:hover {
    color: #7827e7;
}

.popular-singer-name {
    color: rgb(152, 144, 144);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .popular {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .popular {
        width: 100%;
    }
}